venv/
__pycache__/
*.pyc
.env
.pytest_cache/
*.egg-info/
.vscode/
.DS_Store
celerybeat-schedule
app/static/uploads/*
app/static/processed/*
!app/static/uploads/.gitkeep
!app/static/processed/.gitkeep
